body{margin: 0px: padding: 0px;}

section{display: flex; width: 100%}
.bars{display: block; width: 30px; height: 30px; position: absolute; right: 20px; bottom: 20px; padding: 5px; margin: 0px}
.bars:hover{cursor: pointer; background-color: #bbb}
ul>div{display: none}
header{display: flex; padding: 0px;margin-top: 20px; margin-bottom: 20px; width: 100%; position: relative; top: 20px}
ul{display: flex; padding: 0px; margin: 0px}
li{list-style-type: none; margin-top: 0px; margin-bottom: 0px; padding: 18px; }
ul>li:nth-child(1){border-left: 0px}
li:nth-child(2){border-left: 0px;}
li>a{color: #111; text-decoration: none}
ul>li:nth-child(1)>a{color: #b11; font-weight: bold;}

#guests_options_row{display: flex; align-items: center; width: 100%}
select, input{background-color: #fff; border: 1px solid #bbb; height: 30px}
#guests_options_row h5, #itinerary_row h5{font-weight: normal; margin-right: 30px}
#guests_options_row button{background-color: #ddd; cursor: pointer; border-radius: 0px; border: 1px solid #aaa; padding: 5px; padding-left: 10px; padding-right: 10px; position: absolute; right: 20px}
#guests_details{display: flex; flex-direction: column; width: 100%; position: relative; left: 0px; overflow-y: visible;}
#itinerary_row{display: flex; flex-direction: row width: 100%; border-top: 1px solid #aaa; padding-top: 15px}
#guests_maps{display: none}
#guests_maps_btn a{color: #fff; text-decoration: none; padding: 30px; cursor: pointer}
#guests_maps_btn{width: auto; background-color: #222; position: absolute; left: 43%; bottom: 25px; border-radius: 15px}

#itinerary_row div{overflow: hidden; padding-left: 12px}
#itinerary_row div:nth-child(1){display: flex; flex-direction: column; justify-content: flex-start; align-items: center; width: 10%}
#itinerary_row div:nth-child(2){display: flex; flex-direction: column; width: 90%}
#itinerary_row div:nth-child(2)>div{display: flex; width: 100%; flex-direction: row}
#itinerary_row input{width: 30%; margin: 2px}
#result-row{background-color: #cfcfcf; margin-top: 15px}
.result{background-color: #fff; display: flex; flex-direction: row; margin: 15px; box-shadow: 2px 4px #ccc; padding-top: 10px; padding-bottom: 10px}
.result:hover{cursor: pointer;}
.result>div:nth-child(1){width: 20%; display: flex; justify-content: center; align-items: center; color: #2a3}
.result>div:nth-child(2){width: 80%; display: flex; flex-direction: column; }

.result-line{display: flex; flex-direction: column; justify-content: center; align-items: center}
.result-line>div{padding-left: 15px; padding-right: 15px; margin-top: 10px; padding-top: 0px; padding-bottom: 0px}
.result-line>div:nth-child(1){display: flex; flex-direction: row; justify-content: center; align-items: center; }
.result-line>div>img{width: 30px; height: 30px; margin-right: 8px}
.result-line h4{font-size: 12px; font-weight: 400; margin: 0px}
.result-line h5{font-size: 10px; font-weight: normal; margin: 0px}
.result-line>div:nth-child(2){border-left: 1px solid #aaa; border-right: 1px solid #aaa}

#croix{width: 15px; height: 15px; cursor: pointer;}

#pop-background{position: absolute; top: 0px; left: 0px; display: none; justify-content: center; align-items: center; height: 100%; width: 100%; background-color: rgba(0, 0, 0, .5);}
#pop-content{width: 90%; height: 96%; padding-left: 10px; padding-right: 10; overflow-y: visible; background-color: #fff; border-radius: 15px; display: flex; flex-direction: column; padding-top: 15px}
#pop-content>div:nth-child(1){background-color: #fff; height: 60px; display: flex; flex-direction: row}
#pop-content>div:nth-child(2){background-color: #5c5858; overflow: hidden}

@media screen and (min-width: 900px){
	header{display: flex; padding: 0px;margin-top: 20px; width: 100%; border: 1px solid #aaa}
	ul{display: flex; padding: 0px; margin: 0px}
	li{list-style-type: none; margin-top: 0px; margin-bottom: 0px; padding: 18px; border-left: 1px solid #aaa; border-right: 1px solid #aaa}
	ul>li:nth-child(1){border-left: 0px}
	li:nth-child(2){border-left: 0px;}
	ul>div{display: flex; position: absolute; right: 0px; padding: 0px; margin: 0px}
	li>a{color: #111; text-decoration: none}
	ul>li:nth-child(1)>a{color: #b11; font-weight: bold;}
	.bars{display: none}
	#guests_maps_btn{display: none}
	#guests_maps{width: 43%; border-radius: 0px; display: block;}
	#guests_maps a{display: none}
	#guests_details{display: flex; flex-direction: column; width: 57%; position: relative; left: 0px; overflow-y: visible;}
	iframe{display: block;}
	#pop-content{width: 40%}
    .result-line{display: flex; flex-direction: row;}
}

